
    /* General styles for links */
.renew, .delet {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

/* Renew link styling */
.renew {
    background-color: #4CAF50; /* Green background */
    color: white;             /* White text */
    border: 1px solid #4CAF50;
}

.renew:hover {
    background-color: #45a049; /* Darker green on hover */
    color: white;
}

/* Delete link styling */
.delet {
    background-color: #f44336; /* Red background */
    color: white;              /* White text */
    border: 1px solid #f44336;
}

.delet:hover {
    background-color: #d32f2f; /* Darker red on hover */
    color: white;
}



/* Profile Container */
.profile-container {
    width: 70%;
    margin: 30px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;

}

.profile-container:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    transform: translateY(-10px);
}

.profile-container h2 {
    font-size: 24px;
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.profile-container p {
    font-size: 16px;
    padding: 8px 0;
}

.profile-container strong {
    color: #00796b;
}

